name: ci
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: |
            docs
            includes

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install pngquant
        run: sudo apt-get update && sudo apt-get install -y pngquant

      - name: Install uv and enable cache
        uses: astral-sh/setup-uv@v6.5.0
        with:
          enable-cache: true

      - name: Sync environment
        run: uv sync --all-extras --dev

      - name: Build MkDocs site
        run: uv run mkdocs build --clean

      - name: Upload built site
        uses: actions/upload-artifact@v4
        with:
          name: mkdocs-site
          path: site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: |
            docs
            includes

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv and enable cache
        uses: astral-sh/setup-uv@v6.5.0
        with:
          enable-cache: true

      - name: Install pngquant
        run: sudo apt-get update && sudo apt-get install -y pngquant

      - name: Sync environment
        run: uv sync --all-extras --dev

      - name: Download built site
        uses: actions/download-artifact@v4
        with:
          name: mkdocs-site
          path: site

      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force --dirty
